body {
   
    padding-bottom: 20px; 
}

.top-header {
    position: fixed;
    width: 100%;
    height: 60px;
    line-height: 48px;
    text-align: center;
    font-size: 14px;
    background-color: #31333b;
    border-bottom: 1px solid #aaa
}

ul#menu_right li {
    
    display: inline;
    padding: 0.5em;
}
ul#menu_right li a{
    color:#fff;
}

/*ul#menu_right li a:hover {
    color: #fff;
}*/

#form-info {
}
.top-header_left {
    float: left;
    margin-left: 100px;
    font-weight: bold;
}

.top-header_right-option {
    float: right;
    position: relative;
    right: 5px;
    top: 5px;
    font-weight: bold;
}

.validation-section {
    right: 5px;
    top: 5px;
}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}


.filter-selected-option
{
    /*width: 350px !important;*/
    margin: 13px;
    margin-top:40px;
    text-align:center;
   
}



#filtre {
    float: left;
    width: 600px;
    height: 530px;
    /*margin-top: 20px;*/
    position: sticky;
    top:20px;
}

#question-list {
    position: relative;
    left: 700px;
    width: 900px;
    float: left;
}

footer
{
    clear:both;
}

hr
{
    clear:both;
}

#create-retour-button 
{
    clear: both;
    top:30px;
    
}
ul,li
{
    list-style:none;
}

.panel {
    margin: 5%;
    background: transparent;
}


tr {
    transition: all 0.5s;
}

    tr:hover {
        background-color: #f0ad4e;
        transition: 0.5s;
    }

.btn-warning {
    transition: all 0.8s;
}

.btn-warning:hover, .btn-warning:focus {
    transition: 0.8s;
    background-color: #428bca;
    border-color: #428bca;
}

.panel-list-foot {
    background-color: #5bc0de;
    color: white;
}

.filtre-border{
    border: 3px;
}


div.child {
    display: none;
}


img {
    width: 145px;
    height: 25px;
    vertical-align:middle
}
/*div.parent:hover .child {
    display: block;
} .content-child{ visibility:hidden;}*/

#retour-button {
    color: #5f677e;
}

.background-color-panel{
   
    color: #fff;
}

.list-head-padding{
    background-color:#99FFFF;
}

