@model CreateOrUpdateQuestionViewModel;

<div class="js-edit-question-answers">
    <h2>Réponses</h2>

    <div table="table-responsive row">
        <table class="table col-lg-5">
            <thead>
                <tr>
                    <th>Réponse</th>
                    <th>Actions </th>
                </tr>
            </thead>
            <tbody>
                @if (Model.EditAnswerViewModel != null)
                {
                    foreach (var answer in Model.EditAnswerViewModel.QuestionAnswerList)
                    {
                        <tr>
                            <td>
                                @answer.AnswerContent
                            </td>
                            <td>
                                @Html.ActionLink("Modifier", "EditQuestionAnswer", new { answerId = answer.Id }) |
                                @Html.ActionLink("Supprimer", "DeleteQuestionAnswer", new { answerId = answer.Id }) |
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <br />
    <br />
    <div class="col-xs-12">
        <div class="btn btn-default pull-right" , style="margin-bottom:20px;">@Html.ActionLink("Ajouter une réponse", "AddQuestionAnswer", new { questionId = Model.EditQuestionViewModel.Id })</div>
    </div>
</div>